/* General rules */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  img {
    max-width: 100%;
  }
  a {
    text-decoration: none;
    color: white;
  }
    a:hover, img:hover{
      cursor: pointer;
    }

/* Main */
.big-container {
  display: flex;
  background-color: lightgreen;

}
  /* Smaller container */
  .container {
    width: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    background-color: rgb(20, 25, 34);
    height: calc(100vh - 70px);
    overflow: auto;
  }
    /* Top bar */
    .top-bar {
      display: flex;
      justify-content: flex-end;
      height: 70px;
      width: calc(100% - 200px);
      background: rgb(8,11,18);
      background: linear-gradient(90deg, rgba(8,11,18,0.3452731434370623) 0%, rgba(8,11,18,0.7150210425967262) 31%, rgba(8,11,18,1) 100%);
      position: fixed;
      padding-right: 5px;
    }
      .top-bar > a {
        justify-content: flex-end;
        align-self: center;
        color: white;
        border: 1px solid white;
        padding: 10px 30px;
        border-radius: 90px;
        font-size: 12px;
        font-weight: bold;
      }
    /* Side nav bar */
    .nav-bar {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 200px;
      height: calc(100vh - 70px);
      background-color: black;
      padding: 15px;
      }

        #logo > img {
          max-width: 125px;
          padding-bottom: 25px;
        }
        .mini {
          max-width: 25px;
        }
      #playlist {
        margin-top: 20px;
      }

    /* Library */
    #library {
      display: flex;
      flex-direction: column;
      background-color: rgb(20, 25, 34);
      margin-top: 70px;
      padding: 20px 0 20px 20px;
    }
      /* Top list */
      .top-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
        .top-list > a {
          font-size: 12px;
          font-weight: bold;
          padding: 10px;
          color: grey;
        }
      /* Recently played */
      #r-played {
        display: flex;
        flex-wrap: wrap;
      }
        #r-played > div {
          width: 200px;
          padding: 15px 15px 15px 0;
        }

      /* Creato per John Doe */
      #creato {
        display: flex;
      }
        #creato > div {
          width: 200px;
        }
        #creato div img {
          padding: 15px 15px 10px 0;
        }
      /* Artisti più popolari */
      #artisti {
        display: flex;
      }
        #artisti > div {
          width: 200px;
        }
        #artisti div img {
          padding: 15px 15px 10px 0;
        }

/* Footer */
footer {
  display: flex;
  height: 70px;
  background-color: rgb(40, 40, 40);
  justify-content: space-between;
}
  footer div {
    display: flex;
    background-color: lawngreen;
    height: 100%;
    padding: 10px 5px;
    align-items: center;
  }

  footer > div:first-child, footer > div:last-child{
    width: 20%;
  }
    footer div:first-child img {
      max-height: 100%;
    }
    footer div:first-child div {
      display: flex;
      flex-direction: column;
    }

  #player {
    display: flex;
    width: 50%;
    flex-direction: column;
  }
    #player div:last-child {
      display: flex;
      justify-content: center;
      padding: 0;
      width: 100%;
    }
    #player div:last-child > div {
      width: 80%;
      height: 5px;
      background-color: grey;
      padding: 0;
    }
